body{
	background-color: lightgray;
	font-family: 'Open Sans',sans-serif;
	color: green;
	text-align: center;
}

body h1{
	color: white;
	margin-top: 100px;
}

.promptBox{
	background-color: white;
	border: 1px solid black;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 25%;
	min-width: 300px;
	display: inline-block;
}

.buttonStyle{
	background-color: #6d6959;
	color: white;
	font-weight: bold;
}

