
body{
	font-family: 'Open Sans',sans-serif;
	color: green;
	background-color: rgb(229,255,204);
}

body h1, h3{
	font-style: italic;
}
body[input]{
	border-style: solid;
	border-color: green;
}

.text{
	text-align: center;
	margin-top: 200px;
	opacity: 0.8;
}

#floatingButton{
	padding: 32px;
	margin-right: 20px;
	width: 200px;
	height: 60px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}


.BigbuttonStyle{
	background-color: #6d6959;
	color: white;
	font-weight: bold;
	font-size: 120%;
	padding: 10px;
	border: 20px;
}

.buttonStyle{
	opacity: 0.7;
	background-color: #6d6959;
	color: white;
	font-weight: bold;
}

.buttonOutline{
	margin: 30px;
	text-align: center;
}


.promptBox{
	background-color: rgb(224,224,224);
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 25%;
	min-width: 300px;
	display: inline-block;
	text-align: center;
}

.RegistrationBox{
	width: 800px;
	max-width: 100%;
	height: 80%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input, input:valid{
	border-color: gray;
}
input:invalid{
	border-color: red;
}
input[type="checkbox"]{
	width: auto;
}


.pageWrap{
	width: 100%;
}

.rotate{
	display: inline-block;
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

.rotate:hover{
	font-size: 50pt;
}

.HiddenContent{
	display: none;
}

#SignInBox{
	text-align: center;
}








