
body{
	font-family: 'Open Sans',sans-serif;
}

body h1, h3{
	font-style: italic;
} 
.text{
	color: white;
	text-align: center;
	margin-top: 200px;
}

#floatingButton{
	padding: 32px;
	margin-right: 20px;
	width: 200px;
	height: 60px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}


.buttonStyle{
	background-color: #6d6959;
	color: white;
	font-weight: bold;
	font-size: 120%;
	padding: 10px;
	border: 20px;
}
